/* All site color variables, including the themes for each map. */

:root {
    --site-font: arial, sans-serif;
    --site-transition: 0.2s;
    --site-bg: #141414;
    --secondary-bg: #1a1a1a;
    --danger-red: #f00;
    --standard-cyan: #00fff0;
    --standard-cyan-hover: #80fff7;
    --standard-pink: #f0f;
    --standard-pink-hover: #ff57ff;
    --cyan-pink-gradient: linear-gradient(to right, var(--standard-cyan), var(--standard-pink));
    --standard-white: #fff;
    --standard-black: #000;
}
