.home-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 16rem;
}

.home-footer-container {
    position: absolute;
    bottom: 1.50rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.50rem;
}

.site-title {
    font-size: 7.5rem;
    margin: 0;
}

.site-title-1 {
    color: var(--standard-cyan);
}

.site-title-2 {
    color: var(--standard-pink);
}

.name-warning {
    color: var(--danger-red);
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 0.45rem;
    visibility: hidden;
}

.name-input {
    width: 24rem;
    padding: 0.65rem;
    border-radius: 0.50rem;
    font-size: 1.20rem;
    font-weight: bold;
    background: var(--site-bg);
    color: var(--standard-white);
    border: solid 1px var(--standard-cyan);
    transition: var(--site-transition);
}

.name-input:focus,
.name-input:focus-visible {
    outline: 1px var(--standard-cyan);
    background: var(--secondary-bg);
}

.gradient-border {
  position: relative;
  border-radius: 8px;
  background: var(--secondary-bg);
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: var(--cyan-pink-gradient);
  z-index: -1;
}

.start-btns-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.gradient-border {
  position: relative;
  border-radius: 8px;
  background: var(--secondary-bg);
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: var(--cyan-pink-gradient);
  z-index: -1;
}

.start-btn {
  background: var(--site-bg);
  color: var(--standard-pink);
  font-weight: bold;
  padding: 0.75rem 1rem;
  margin-top: 3rem;
  font-size: 1.50rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: var(--site-transition);
}

.start-btn span {
    background-image: var(--cyan-pink-gradient);
    color: transparent;
    background-clip: text;
    transition: var(--site-transition);
}

.start-btn:hover {
    background: var(--secondary-bg);
}

.footer-link-cyan,
.footer-link-pink {
    font-size: 1.30rem;
    font-weight: bold;
    transition: var(--site-transition);
    min-width: 6rem;
    text-align: center;
}

.footer-link-cyan {
    color: var(--standard-cyan);
}

.footer-link-pink {
    color: var(--standard-pink);
}

.footer-link-cyan:hover {
    color: var(--standard-cyan-hover);
}

.footer-link-pink:hover {
    color: var(--standard-pink-hover);
}

.footer-link-cyan:hover,
.footer-link-pink:hover {
    cursor: pointer;
}

.home-footer-container span {
    color: var(--standard-white);
    text-align: center;
    font-size: 1.30rem;
}