@import url('colors.css');
@import url('scaling.css');

:root {
    font-family: var(--site-font);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--site-bg);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: var(--site-font-size);
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.gradient-btn {
    position: relative;
    border-radius: 8px;

    background: var(--site-bg);
    border: none;
    cursor: pointer;
}

.gradient-btn:hover {
    background: var(--secondary-bg);
}

.gradient-btn:hover::after {
    opacity: 0.85;
}

.gradient-btn::before {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: var(--cyan-pink-gradient);
    z-index: -1;
}

.gradient-btn::after {
    content: '';
    position: absolute;
    inset: -4px;
    border-radius: inherit;
    background: var(--cyan-pink-gradient);
    filter: blur(8px);
    opacity: 0;
    z-index: -2;
    transition: opacity var(--site-transition);
    pointer-events: none;
}

.gradient-btn span {
    background-image: var(--cyan-pink-gradient);
    color: transparent;
    background-clip: text;
    transition: var(--site-transition);
}

.disabled {
    pointer-events: none;
    opacity: 0.35;
}

.gradient-btn-disabled {
    pointer-events: none;
}

.gradient-btn-disabled::before {
    opacity: 0.35;
}

.gradient-btn-disabled span {
    filter: saturate(40%) brightness(70%);
}

.temp-btn {
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 2px solid var(--debug-orange);
    background: var(--site-bg);
    color: var(--standard-white);
    transition: var(--site-transition);
}

.temp-btn:hover {
    background: var(--debug-orange);
    color: var(--standard-black);
    cursor: pointer;
}