@import url('colors.css');
@import url('scaling.css');
@import url('home.css');
@import url('custom-match.css');
@import url('queue.css');

:root {
    font-family: var(--site-font);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--site-bg);
}

html {
    font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}