.queue-container {
    position: absolute;
    right: 1rem;
    top: 1rem;

    height: 9rem;
    width: 18rem;
    padding: 1rem;

    border: 1px solid yellow;
    background: var(--secondary-bg);
    color: var(--standard-white);
}

.queue-container p {
    margin: 0;
}
