.queue-container {
    position: absolute;
    right: 1rem;
    top: 1rem;

    height: 12rem;
    width: 26rem;
    padding: 1rem;

    border: 1px solid var(--queue-border);
    border-radius: 4px;
    background: var(--secondary-bg);
    color: var(--standard-white);

    z-index: 200;
}

.queue-container p {
    margin: 0;
}

.queue-container p:not(:first-child) {
    margin-top: 0.25rem;
}

.error-msg {
    color: var(--danger-red);
    font-style: italic;
}
